[submodule "Dashboard/uRank"]
	path = Dashboard/uRank
	url = https://github.com/cecidisi/uRank
[submodule "WebGlVisualization"]
	path = WebGlVisualization
	url = git@github.com:PeterHasitschka/eexcess_webgl_vis.git
