.screenshotimg {
    width: 100%;
}

.imagelist {
    float: left;
    border: 1px solid;
}

.imagelist.three {
    width: 33%;
}

.imagelist.two {
    width: 50%;
}

.imagelistimage {
    float:left;
    margin:5px auto;
    width:100%;
}
