.searchline {
	min-width:300px; 
	width:100%
}
.textbox {
	float: left;
	width: 100px;
	height: 23px;
	background-color: #1d904e;
	color: #fff;
	padding: 6px 10px 0 10px;

}
.search {
	width: 99%;
	margin: 20px;    
}
.clr { clear: both; }  
ul.tagit{
	 background: #eee !important;
}